# Testataan datacleaner-moduulin toiminta

In [1]:
import sys
import pandas as pd

In [2]:
# Tämä täytyy olla, jotta moduuleita voidaan ajaa
sys.path.append("./modules/")

In [3]:
# Import module
from datacleaner import dataCleaner

In [4]:
help(dataCleaner)

Help on function dataCleaner in module datacleaner:

dataCleaner(df, newColumns=True)
    dataCleaner -function

    Cleans timestamp, adds new columns (if newColumns=True) and transform status-values into numeric

    Parameters
    ----------

    df :
        - Type: Pandas DataFrame


    newColumns :
        - Type: boolean
        - default: True
        - If True, adds new columns day, month, year and date


    Returns
    -------

    Pandas dataframe that has timestamp cleaned, numeric status-values (and new columns added)

## Dataframe ennen datacleaneria

In [5]:
# Määritellään dataframe csv-tiedostoista
df = pd.read_csv('tuloilma_laskettuAs.csv', header=0)

In [6]:
df.head(5)

                 timestamp trendFlags status  value
0   03-Apr-19 8:51 AM EEST              {ok}  20.29
1  03-Apr-19 10:33 AM EEST              {ok}  19.66
2  03-Apr-19 10:38 AM EEST              {ok}  19.03
3  03-Apr-19 10:57 AM EEST              {ok}  19.54
4  03-Apr-19 12:10 PM EEST              {ok}  20.08

## Dataframe datacleanerin jälkeen

In [7]:
dataCleaner(df, newColumns=True)

Processing dataframe

/opt/conda/lib/python3.7/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname EEST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/opt/conda/lib/python3.7/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname EET identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

Creating new columns
done in 0.73 seconds

,timestamp,trendFlags,status,value,day,month,year,date
0,2019-04-03 08:51:00,,0,20.29,3,4,2019,2019-04-03
1,2019-04-03 10:33:00,,0,19.66,3,4,2019,2019-04-03
2,2019-04-03 10:38:00,,0,19.03,3,4,2019,2019-04-03
3,2019-04-03 10:57:00,,0,19.54,3,4,2019,2019-04-03
4,2019-04-03 12:10:00,,0,20.08,3,4,2019,2019-04-03
...,...,...,...,...,...,...,...,...
5927,2021-02-15 06:05:00,,0,20.83,15,2,2021,2021-02-15
5928,2021-02-15 07:37:00,,0,20.24,15,2,2021,2021-02-15
5929,2021-02-15 09:14:00,,0,20.97,15,2,2021,2021-02-15
5930,2021-02-15 09:22:00,,0,20.41,15,2,2021,2021-02-15
5931,2021-02-15 09:38:00,,0,19.85,15,2,2021,2021-02-15