# Testataan csvConverter-moduulin toiminta

In [8]:
import sys
import pandas as pd

In [2]:
sys.path.append("./modules/")

In [3]:
from csvConverter import xmlToCsv

In [4]:
help(xmlToCsv)

Help on function xmlToCsv in module csvConverter:

xmlToCsv(xml_file, csv_name)
    xmlToCsv -function

    Converts XML-file to dataframe and csv-file

    Parameters
    ----------

    xml_file :
        - The xml-file you want to convert to csv format
        - file must be in quotation marks ("file name here")


    csv_name :
        - Define name to csv-file



    Returns
    -------

    Dataframe and csv-file

In [5]:
xmlToCsv("TK1_TE1_3_Tuloilma_LaskettuAs.xml", "tuloilma_laskettuAs.csv")

                    timestamp trendFlags status  value
0      03-Apr-19 8:51 AM EEST              {ok}  20.29
1     03-Apr-19 10:33 AM EEST              {ok}  19.66
2     03-Apr-19 10:38 AM EEST              {ok}  19.03
3     03-Apr-19 10:57 AM EEST              {ok}  19.54
4     03-Apr-19 12:10 PM EEST              {ok}  20.08
...                       ...        ...    ...    ...
5927    15-Feb-21 6:05 AM EET              {ok}  20.83
5928    15-Feb-21 7:37 AM EET              {ok}  20.24
5929    15-Feb-21 9:14 AM EET              {ok}  20.97
5930    15-Feb-21 9:22 AM EET              {ok}  20.41
5931    15-Feb-21 9:38 AM EET              {ok}  19.85

[5932 rows x 4 columns]

In [9]:
df2 = pd.read_csv('tuloilma_laskettuAs.csv', header=0)

In [11]:
print("data before:", df2.head(3))

data before:                  timestamp trendFlags status  value
0   03-Apr-19 8:51 AM EEST              {ok}  20.29
1  03-Apr-19 10:33 AM EEST              {ok}  19.66
2  03-Apr-19 10:38 AM EEST              {ok}  19.03

In [13]:
df2.head(2)

                 timestamp trendFlags status  value
0   03-Apr-19 8:51 AM EEST              {ok}  20.29
1  03-Apr-19 10:33 AM EEST              {ok}  19.66

In [15]:
df2['timestamp'] = pd.to_datetime(df2['timestamp'], errors='coerce')

/opt/conda/lib/python3.7/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname EEST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/opt/conda/lib/python3.7/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname EET identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [16]:
df2.head(3)

            timestamp trendFlags status  value
0 2019-04-03 08:51:00              {ok}  20.29
1 2019-04-03 10:33:00              {ok}  19.66
2 2019-04-03 10:38:00              {ok}  19.03

In [18]:
df2['day'] = df2.timestamp.dt.day
df2['month']= df2.timestamp.dt.month
df2['year'] = df2.timestamp.dt.year
df2['date'] = pd.to_datetime({'year':df2['year'],'month':df2['month'],'day':df2['day']})

In [19]:
df2.head(3)

            timestamp trendFlags status  value  day  month  year       date
0 2019-04-03 08:51:00              {ok}  20.29    3      4  2019 2019-04-03
1 2019-04-03 10:33:00              {ok}  19.66    3      4  2019 2019-04-03
2 2019-04-03 10:38:00              {ok}  19.03    3      4  2019 2019-04-03