# Normalisointi

In [48]:
import sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as seabornInstance 
%matplotlib inline

%reload_ext autoreload
%autoreload 2

sys.path.append("./modules/")

import warnings
warnings.filterwarnings('ignore')

#from check_status import check_status
#from checker import check_difference
#from rm_outliers import remove_outliers
#from datacleaner import dataCleaner
from LaskAs_drop import laskas_drop
from Piikit_drop import piikit_drop
from trendflagspoisto import trendflagsit
from LTOS_value_drop import value_siivous

## Hae data

In [49]:
df = pd.read_csv('./csv/yhdistetty_df.csv', header=0)
df.head()

,Unnamed: 0,timestamp,trendFlags_1LaskAs,status_1LaskAs,value_1LaskAs,value_difference_1LaskAs,trendFlags_MenovesiLaskAs,status_MenovesiLaskAs,value_MenovesiLaskAs,value_difference_MenovesiLaskAs,...,value_TuloilmaLaskettuAs,value_difference_TuloilmaLaskettuAs,trendFlags_PoistoM,status_PoistoM,value_PoistoM,value_difference_PoistoM,trendFlags_PatterinPaluuvesiM,status_PatterinPaluuvesiM,value_PatterinPaluuvesiM,value_difference_PatterinPaluuvesiM
0,0,2019-04-03 08:51:00,{start},{ok},140.0,NaN,{start},{ok},42.42,NaN,...,20.29,NaN,{start},{ok},21.07,NaN,NaN,NaN,NaN,NaN
1,1,2019-04-03 09:16:00,{start},{ok},140.0,NaN,{ },{ok},41.90,-0.52,...,20.29,NaN,{start},{ok},21.07,NaN,NaN,NaN,NaN,NaN
2,2,2019-04-03 09:33:00,{start},{ok},140.0,NaN,{ },{ok},41.37,-0.53,...,20.29,NaN,{start},{ok},21.07,NaN,NaN,NaN,NaN,NaN
3,3,2019-04-03 09:51:00,{start},{ok},140.0,NaN,{ },{ok},40.85,-0.52,...,20.29,NaN,{start},{ok},21.07,NaN,NaN,NaN,NaN,NaN
4,4,2019-04-03 10:10:00,{start},{ok},140.0,NaN,{ },{ok},40.33,-0.52,...,20.29,NaN,{start},{ok},21.07,NaN,NaN,NaN,NaN,NaN

In [50]:
df.shape

(1166627, 42)

In [51]:
df.columns

Index(['Unnamed: 0', 'timestamp', 'trendFlags_1LaskAs', 'status_1LaskAs',
       'value_1LaskAs', 'value_difference_1LaskAs',
       'trendFlags_MenovesiLaskAs', 'status_MenovesiLaskAs',
       'value_MenovesiLaskAs', 'value_difference_MenovesiLaskAs',
       'trendFlags_MenoM', 'status_MenoM', 'value_MenoM',
       'value_difference_MenoM', 'trendFlags_UlkoLampotila',
       'status_UlkoLampotila', 'value_UlkoLampotila',
       'value_difference_UlkoLampotila', 'trendFlags_LammitysS',
       'status_LammitysS', 'value_LammitysS', 'value_difference_LammitysS',
       'trendFlags_LTOS', 'status_LTOS', 'value_LTOS', 'value_difference_LTOS',
       'trendFlags_TuloM', 'status_TuloM', 'value_TuloM',
       'value_difference_TuloM', 'trendFlags_TuloilmaLaskettuAs',
       'status_TuloilmaLaskettuAs', 'value_TuloilmaLaskettuAs',
       'value_difference_TuloilmaLaskettuAs', 'trendFlags_PoistoM',
       'status_PoistoM', 'value_PoistoM', 'value_difference_PoistoM',
       'trendFlags_PatterinPaluuvesiM', 'status_PatterinPaluuvesiM',
       'value_PatterinPaluuvesiM', 'value_difference_PatterinPaluuvesiM'],
      dtype='object')

## Check value

### Esim: value_1LaskAs

In [52]:
df.value_1LaskAs

0          140.0
1          140.0
2          140.0
3          140.0
4          140.0
           ...
1166622    140.0
1166623    140.0
1166624    140.0
1166625    140.0
1166626    140.0
Name: value_1LaskAs, Length: 1166627, dtype: float64

In [53]:
df.value_1LaskAs.shape

(1166627,)

In [54]:
df.value_1LaskAs.notnull()

0          True
1          True
2          True
3          True
4          True
           ...
1166622    True
1166623    True
1166624    True
1166625    True
1166626    True
Name: value_1LaskAs, Length: 1166627, dtype: bool

In [55]:
df.value_1LaskAs.value_counts()

140.0    609682
70.0     556940
0.0           5
Name: value_1LaskAs, dtype: int64

## datan siivoaminen

In [56]:
df = laskas_drop(df)

All rows:  (1166627, 42)

Checking the column 'value_1LaskAs' for NaN values:  0

Checking the rows for 0 values:  (5, 42)

-----------------------------------------
Removing all rows that contain a 0 value
-----------------------------------------

New all rows:  (1166622, 42)

Done in 0.83 seconds

In [57]:
df = piikit_drop(df)

All rows:  (1166622, 42)

Checking the column 'value_LammitysS' for NaN values:  109169

Checking the rows for 100 values:  (18043, 42)

-----------------------------------------
Removing all rows that contain a 100 value
-----------------------------------------

New all rows:  (1039410, 42)

Done in 1.11 seconds

In [58]:
df = value_siivous(df)

rows at the start:  1039410
check how many NaN values there are and remove them:  0
remove all rows where value_LTOS is under 100
rows after operation:  640620

In [59]:
df = trendflagsit(df)

rows at the start:  640620
rows after operation:  638339

In [60]:
df.shape

(638339, 42)

## normalisointi

### Tapa. 1

In [61]:
df_v = df[['value_1LaskAs',
           'value_MenovesiLaskAs',
           'value_MenoM',
           'value_UlkoLampotila',
           'value_LammitysS',
           'value_LTOS',
           'value_TuloM',
           'value_TuloilmaLaskettuAs', 
           'value_PoistoM', 
           'value_PatterinPaluuvesiM']]

def normalisointi(df):
    df_nor = df.copy()
    for col in df_nor.columns:
        df_nor[col] = (df_nor[col] - df_nor[col].min()) / (df_nor[col].max() - df_nor[col].min())
        
    return df_nor

df_value_normalisointi = normalisointi(df_v)

df_value_normalisointi

,value_1LaskAs,value_MenovesiLaskAs,value_MenoM,value_UlkoLampotila,value_LammitysS,value_LTOS,value_TuloM,value_TuloilmaLaskettuAs,value_PoistoM,value_PatterinPaluuvesiM
0,0.0,0.526558,NaN,0.367871,0.143714,NaN,0.460240,0.531429,0.355382,NaN
1,0.0,0.526558,NaN,0.367871,0.143514,NaN,0.460240,0.531429,0.355382,NaN
2,0.0,0.526558,NaN,0.367871,0.155016,NaN,0.460240,0.531429,0.355382,NaN
3,0.0,0.526558,NaN,0.367871,0.144214,NaN,0.460240,0.531429,0.355382,NaN
4,0.0,0.526558,NaN,0.367871,0.155916,NaN,0.460240,0.531429,0.355382,NaN
...,...,...,...,...,...,...,...,...,...,...
638334,1.0,0.768912,0.555818,0.193302,0.236524,NaN,0.470458,0.550000,0.377631,0.301457
638335,1.0,0.768912,0.569981,0.193302,0.236524,NaN,0.470458,0.550000,0.377631,0.301457
638336,1.0,0.768912,0.577478,0.193302,0.236524,NaN,0.470458,0.550000,0.377631,0.301457
638337,1.0,0.768912,0.569981,0.193302,0.236524,NaN,0.470458,0.550000,0.377631,0.301457
638338,1.0,0.768912,0.557484,0.193302,0.236524,NaN,0.470458,0.550000,0.377631,0.301457

### Tapa. 2

In [62]:
from sklearn.preprocessing import MinMaxScaler

df_v = df[['value_1LaskAs',
           'value_MenovesiLaskAs',
           'value_MenoM',
           'value_UlkoLampotila',
           'value_LammitysS',
           'value_LTOS',
           'value_TuloM',
           'value_TuloilmaLaskettuAs', 
           'value_PoistoM', 
           'value_PatterinPaluuvesiM']]

scaler = MinMaxScaler()
df_nor = pd.DataFrame(scaler.fit_transform(df_v), columns = df_v.columns)

df_nor

,value_1LaskAs,value_MenovesiLaskAs,value_MenoM,value_UlkoLampotila,value_LammitysS,value_LTOS,value_TuloM,value_TuloilmaLaskettuAs,value_PoistoM,value_PatterinPaluuvesiM
0,0.0,0.526558,NaN,0.367871,0.143714,0.0,0.460240,0.531429,0.355382,NaN
1,0.0,0.526558,NaN,0.367871,0.143514,0.0,0.460240,0.531429,0.355382,NaN
2,0.0,0.526558,NaN,0.367871,0.155016,0.0,0.460240,0.531429,0.355382,NaN
3,0.0,0.526558,NaN,0.367871,0.144214,0.0,0.460240,0.531429,0.355382,NaN
4,0.0,0.526558,NaN,0.367871,0.155916,0.0,0.460240,0.531429,0.355382,NaN
...,...,...,...,...,...,...,...,...,...,...
638334,1.0,0.768912,0.555818,0.193302,0.236524,0.0,0.470458,0.550000,0.377631,0.301457
638335,1.0,0.768912,0.569981,0.193302,0.236524,0.0,0.470458,0.550000,0.377631,0.301457
638336,1.0,0.768912,0.577478,0.193302,0.236524,0.0,0.470458,0.550000,0.377631,0.301457
638337,1.0,0.768912,0.569981,0.193302,0.236524,0.0,0.470458,0.550000,0.377631,0.301457
638338,1.0,0.768912,0.557484,0.193302,0.236524,0.0,0.470458,0.550000,0.377631,0.301457

In [63]:
scaler.data_min_

array([ 70.  ,  20.  ,  12.93, -23.15,   0.  , 100.  ,   9.2 ,  16.  ,
        15.46,  13.09])

In [64]:
scaler.data_max_

array([140.  ,  63.49,  84.95,  37.17,  99.99, 100.  ,  31.71,  23.  ,
        32.09,  50.84])