In [1]:
import sys
import pandas as pd

In [2]:
# Tämä täytyy olla, jotta moduuleita voidaan ajaa

sys.path.append("/home/jovyan/work/TeamAdconsys/proj3-team-adconsys/Moduulit/modules")

**Ladataan dataset**

In [3]:
df = pd.read_csv('/home/jovyan/work/TeamAdconsys/proj3-team-adconsys/Datat/csv/y_train.csv', header=0)
df.head(5)

   value_MenovesiLaskAs
0                 47.74
1                 51.52
2                 45.28
3                 43.74
4                 47.36

In [4]:
from rounding import *

In [5]:
help(rounding)

Help on function rounding in module rounding:

rounding(df)
    [rounds dataframe values to closest 0.5. Dataframe cant't involve string values]

    Parameters:
        df ([type]): [Pandas Dataframe]


    Returns:
        [dataframe]: [Returns rounded dataframe.]

In [6]:
dftest = rounding(df)
dftest.head()

   value_MenovesiLaskAs
0                  47.5
1                  51.5
2                  45.5
3                  43.5
4                  47.5