**Importit**

In [1]:
import sys
import pandas as pd

In [2]:
# Tämä täytyy olla, jotta moduuleita voidaan ajaa

sys.path.append("/home/jovyan/work/TeamAdconsys/proj3-team-adconsys/Moduulit/modules")

In [3]:
from trendflagspoisto import *

**Otetaan data**

In [4]:
df = pd.read_csv('/home/jovyan/work/TeamAdconsys/proj3-team-adconsys/Datat/csv/yhdistetty_df.csv', header=0)
df.head(5)

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (9,10,17,18,25,26,37,38) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,timestamp,trendFlags_1LaskAs,status_1LaskAs,value_1LaskAs,value_difference_1LaskAs,trendFlags_MenovesiLaskAs,status_MenovesiLaskAs,value_MenovesiLaskAs,value_difference_MenovesiLaskAs,trendFlags_MenoM,...,value_TuloilmaLaskettuAs,value_difference_TuloilmaLaskettuAs,trendFlags_PoistoM,status_PoistoM,value_PoistoM,value_difference_PoistoM,trendFlags_PatterinPaluuvesiM,status_PatterinPaluuvesiM,value_PatterinPaluuvesiM,value_difference_PatterinPaluuvesiM
0,2019-04-03 08:51:00,{start},{ok},140.0,NaN,{start},{ok},42.42,NaN,NaN,...,20.29,NaN,{start},{ok},21.07,NaN,NaN,NaN,NaN,NaN
1,2019-04-03 09:16:00,{start},{ok},140.0,NaN,{ },{ok},41.90,-0.52,NaN,...,20.29,NaN,{start},{ok},21.07,NaN,NaN,NaN,NaN,NaN
2,2019-04-03 09:33:00,{start},{ok},140.0,NaN,{ },{ok},41.37,-0.53,NaN,...,20.29,NaN,{start},{ok},21.07,NaN,NaN,NaN,NaN,NaN
3,2019-04-03 09:51:00,{start},{ok},140.0,NaN,{ },{ok},40.85,-0.52,NaN,...,20.29,NaN,{start},{ok},21.07,NaN,NaN,NaN,NaN,NaN
4,2019-04-03 10:10:00,{start},{ok},140.0,NaN,{ },{ok},40.33,-0.52,NaN,...,20.29,NaN,{start},{ok},21.07,NaN,NaN,NaN,NaN,NaN

In [7]:
help(trendflagsit)

Help on function trendflagsit in module trendflagspoisto:

trendflagsit(df)
    [Deletes all rows where trendFlags is start]

    Parameters:
        df   ([type]): [pandas Dataframe]


    Returns:
        pandas Dataframe

**Ajetaan moduuli**

In [5]:
df= trendflagsit(df)

rows at the start:  1166627
rows after operation:  1151339

**Rivejä lähti**

In [6]:
print('rivejä poistunut = ',1166627-1151339 )

rivejä poistunut =  15288